<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0" requirePermission="true"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.505.0" requirePermission="true"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="System Configuration Source">
    <sources>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=5.0.505.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>

	<dataConfiguration defaultDatabase="Prueba"/>
	<connectionStrings>
  <add name="Conexion" connectionString="data source=03DEVJARIZA\SQLEXPRESS; persist security info=False; User ID=sa; Password=Admin1; Initial Catalog=Prueba; Pooling=true; Max Pool Size=150;Connection Lifetime=180"
   providerName="System.Data.SqlClient" />
   <!--<add name="PruebaDataContextConnectionString" connectionString="Data Source=03DEVJARIZA\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=False;Persist Security Info=True;User ID=sa;Password=Admin1" />-->
    <add name="PruebaDataContextConnectionString" connectionString="Data Source=03DEVJARIZA\SQLEXPRESS;Initial Catalog=Prueba;Integrated Security=False;Persist Security Info=True;User ID=mfarias;Password=ControlBox01" />

  </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
